
<h1>Joshua White</h1>
<p>
   jwhite31@memphis.edu
</p>
<h2>Placeholder</h2>

<p>
   Side Notes:
</p>

<ul>
   <li>Super Smash Flash 2</li>
   <li>One day I hope to make a 5 Star Dragon ball the size of a bowling ball</li>
   <li>Favorite color is <a style = "color:green"> <b>Green</b></a></li>
</ul>

<p>
   For anyone interested about <%= link_to "SSF2.", "https://mcleodgaming.fandom.com/wiki/Super_Smash_Flash_2", target: "_blank" %>
</p>

<p><%= link_to "Software review and discussion", review_path %></p>
<p><%= link_to "Question", question_path %></p>
<p><%= link_to "student-info", student_info_path %></p>
