<h1>Practice Question</h1>

<p>Which of the following is the Single Responsibility Principle?</p>

<ul>
    <% features.each do |f| %>
        <li><%= f %></li>
    <% end %>
</ul>

<p><%= link_to 'Profile Page', jwhite31_path %>.</p>
