<h1>Practice Question</h1>

<% q.each do |f| %>
    <p><%= f %></p>
<% end %>

<ul>
    <% answers.each do |f| %>
        <li><%= f %></li>
    <% end %>
</ul>

<p><%= link_to 'Profile Page', jwhite31_path %>.</p>
