<h1>Oops...</h1>
<h2>This page is incomplete.</h2>

<p>Come back when it is finished.</p>

<ul>
    <li>Go back to <%= link_to 'Profile', jwhite31_path %>.</li>
    <li>Or just visit <%= link_to 'Google', "https://google.com", target: "_blank" %>.</li>
</ul>