<h1>Oops...</h1>
<h2>This page is incomplete.</h2>

<p>Come back when it is finished.</p>

<ul>
    <li><%= link_to 'Profile Page', jwhite31_path %></li>
    <li><%= link_to "Question", question_path %></li>
</ul>